.DS_Store
out
Apps/TicTacToe.Console/target
Apps/TicTacToe.Gui/target
TicTacToe/TicTacToe.Domain/target
TicTacToe/TicTacToe.Messages/target
TicTacToe/TicTacToe.Rendering/target
TicTacToe/TicTacToe.Messaging/target
TicTacToe/TicTacToe.Mapping/target
Core/Gaming/target
Core/InteractiveGaming/target
Core/InputGeneration/target
Core/Utilities/target
TicTacToe/TicTacToe.Presentation/target
FXBoardGames.Presentation/target
Apps/FXBoardGames/target
Apps/TicTacToe.SequentialGui/target
BoardGames/BoardGames.FXView/target
BoardGames/BoardGames.Presentation/target
TicTacToe/TicTacToe.FXView/target
Core/Messaging/target
Apps/target
Core/target
target
